<launch>
    <arg name="object_labels" default="$(find clf_object_recognition_yolox)/config/coco_labels.yaml"/>
    <rosparam command="load" ns="object_labels" file="$(arg object_labels)"/>
    <arg name="object_models" default="$(find clf_object_recognition_yolox)/config/coco_ecwm.yaml"/>
    <rosparam command="load" ns="object_models" file="$(arg object_models)"/>

    <arg name="config" default="$(find clf_object_recognition_yolox)/config/config.yaml"/>
    <arg name="checkpoint" default="$(find clf_object_recognition_yolox)/../yolox-models/yolox_l.pth" />
    <arg name="exp" default="$(find clf_object_recognition_yolox)/config/exp/yolox_l.py"/>
    <arg name="camera_info_topic" default="/xtion/depth_registered/camera_info"/>
    <arg name="image_topic" default="/xtion/rgb/image_raw"/>
    <arg name="depth_topic" default="/xtion/depth_registered/image_raw"/>

    <node pkg="yolox_people_tracker" type="yolox_people_tracker" name="yolox_people_tracker" output="screen">
        <remap from="~input" to="$(arg image_topic)" />
        <param name="checkpoint" value="$(arg checkpoint)"/>
        <param name="exp" value="$(arg exp)"/>
        <rosparam command="load" file="$(arg config)" />
        <param name="camera_info" value="$(arg camera_info_topic)"/>
        <param name="img" value="$(arg image_topic)"/>
        <param name="depth" value="$(arg depth_topic)"/>
    </node>

</launch> 
